.education-image {
    width: 15rem;
}

.education-box {
    
    width: 80%;
    height:70rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 15px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 15px 0 0 15px;
    

}

.education-box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 43%;

}
.education-box-item:nth-of-type(2) {
    margin-left: 3rem;
}


.education-text {
    margin-left: 3rem;
    margin-top: 3rem;
    
}
