.presentation {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto';
   
}



.intro {
    width: 50%;
    margin-left: 10rem;
     
}

.avatar {
    width: 30rem;
    border-radius: 15px;
    
}

.picture {
    width: 50%;
    display: flex;
    justify-content: center;
}

.presentation-title {
    font-size: 4.5rem;
}
.presentation-line {
    margin: 1rem 0;
    font-size: 2rem;
}
.see-projects-btn {
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-top: 2rem;
    border: none;
    background-color: rgb(48,58,94);  
    color: white;
}