.education-image {
    width: 20rem;
}

.education-box {
    
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.education-box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3rem;
    margin-bottom: 3rem;

}

.education-text {
    margin-left: 3rem;
    margin-top: 3rem;
    width: 25rem;
}
