.education-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: 2rem;
    
}

.education-title {
    width: 50%;
    text-align: center;
    font-size: 4rem;
}

.education-text {
    width: 50%;
}

.degree {
    font-weight:700;
    font-size: 2.5rem;
}
.date {
    font-size: 1.5rem;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}
