.project-box {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.project-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;  
}

.project-image-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-img {
    max-width: 80%;
    border-radius: 15px;
}

.github-logo {
    width: 9rem;
    border-radius: 15px;
    background-color: black;
    padding: 0.5rem 1.5rem;
    transition: all .2s;  
}

.github-logo:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem #778da9; 
}

.github-logo:active {
    transform: translate(-1px); 
}

.demo {
    width: 9rem;
    border-radius: 15px;
    background-color: #f28482;
    padding: 0.9rem 1.5rem;
    color: white;
    text-decoration: none;
    align-self: baseline;
    margin-left: 2rem;
    font-weight: 700;
    text-align: center;
    transition: all .2s;
}

.demo:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem #f28482; 
}

.demo:active {
    transform: translate(-1px); 
}

.technologies {
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 0.5rem;
}
.technologie-list-item {
    margin-right: 1rem;
}

.project-description {
    margin: 2rem 0;
}

.project-links {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}