.about-box {
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.about-text {
   margin-right: 10rem;
   position:relative;
 
   
}

 .kabute-last {
    position: absolute;
    bottom: -2rem;
    right: -1rem;
}
.about-title {
    position: absolute;
    top: -7rem;
    color: #6CC6E1;
    
}

.dots {
    width: 20rem;
    
}


.kabute {
    width: 4rem;
}

.main-image {
    width: 30rem;
    border-radius: 15px;
}
.about-paragraph {
    width: 30rem;
    text-align:justify;
    
}
