.flex-container {
    
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center; 
    justify-content:center;
    background-color: #040305;
}

.text-container {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    width: 40%;   
}


.main-image-1 {
    width: 60rem;
}

.home-page-title {
    text-align: left;
    font-size: 6rem;
    text-transform: uppercase;
    color: white;  
}



.paragraph {
  
    max-width: 40rem;
    align-self: flex-end;  
}

.home-page-title-small {
    text-transform: uppercase;
    color: #2E6EC4;
    
    text-align: left;
    margin-top: 3rem;
    font-size: 3rem;
    
} 
.main-btn {
    padding: 1.5rem 2.5rem;
    border-radius: 15px;
    border:none;
    background-color: white;
    font-size: 2rem;
    color: black;
    align-self: flex-start;
    margin-top: 3rem;
} 


.main-btn:hover {
    cursor:pointer;
    transform: translateY(-3px);
    
    transition: all .2s;
    background-color: #2E6EC4;
}  

.main-btn:active {
    transform: translate(-1px); 
}


                   


