.portfolio-box {
   
    
    display: flex;
    flex-direction: column;
    position:relative;
    height: 100%;
    background-color: #6CC6E1;


}

.relative {
    position: absolute;
    left: 25rem;
}
/* 
.component-1 {
    position:relative;
    left: 3rem;
    top:3rem;
   
}

.component-2 {
    position: relative;
    right: -20rem;
    top: 6rem;
} */
