.portfolio-box {
   
    
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #6CC6E1;
    /* background-color: black; */


}

.portfolio {
  margin-left: 20rem;
}

 .component-1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
   
 }