.portfolio-box {
   
    
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #6CC6E1;


}

.portfolio {
  margin-left: 20rem;
}

/* .component-1 {
    position:relative;
    left: 3rem;
    top:3rem;
    
   
} 

.component-2 {
    position: relative;
    right: -20rem;
    top: 6rem;
} 

.component-3 {
    position: relative;
    left: -20rem;
    top: 10rem;
}  */