.project-box {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    

}

.project-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    max-height: 40rem;
    
}

.project-image-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-img {
    max-width: 80%;

}

.github-logo {
    width: 7rem;
}


.technologies-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.technologie-list-item {
    margin-right: 1rem;
}

.project-description {
    margin: 2rem 0;
}

.project-links {
    margin-top: 1rem;
}