.experience-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 2rem;
    background-color: black;
    color: white;
    
}

.experience-img {
    max-width: 35rem;
    
}

.experience-title {
    margin-bottom: 2rem;
    color: #72BBE9;
    font-weight: 700;
    
}

.experience-text {
    max-width: 35rem;
    
    margin-left: 5rem;
}

.role {
    font-weight:700;
    font-size: 2.5rem;
}
.date {
    font-size: 1.5rem;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}


.job-tasks li {
  list-style:circle inside;
  
}