@import url('https://fonts.googleapis.com/css2?family=Anton&family=Catamaran:wght@100;300&family=Montserrat:wght@100;200;300&family=Open+Sans:wght@300&family=Quicksand&family=Raleway:wght@100;200;400&family=Roboto:wght@100;300;400&family=Zen+Kaku+Gothic+New:wght@300&display=swap');
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 1100px) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  
  
  /* background-image: linear-gradient(to right bottom, grey, green); */
 
  /* min-height: 100vh; */
}