.contact-box {
     width: 80%;
     height:70rem;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: black;
     color: white;
     box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
     border-radius: 15px 0 0 15px;;
}

.contact-title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.social-logo {
    width: 3.5rem;
    margin: 1rem 0.5rem;
   
}

.contact-email {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.social-links {
    font-size: 1.8rem;
}

.find-me-on, .social-link-items {
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img {
    width: 15rem;
    position: absolute;
    bottom: 10rem;
    left: 10rem;
}